@import "colors";

body {
  height: 100%;
}

html {
  height: 100%;
}

.pmd-content {
  min-height: 100%;
}

.dashboard {
  .pmd-card {
    margin-bottom: 30px;
  }

  .card-header.no-margin {
    margin: 0;
  }
}

.caret {
  border-left: 5px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid;
}

.pmd-navbar.navbar .btn.pmd-btn-fab {
  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &.focus {
    color: $white;
  }
}

.navbar-inverse {
  background-color: $color-royal-blue-approx;
  border-color: $color-royal-blue-approx;

  .navbar-brand {
    color: $white;
  }
}

.notification {
  .pmd-badge[data-badge]::after {
    background-color: $white;
    color: $color-mine-shaft-approx;
  }

  .pmd-dropdown-menu-container {
    top: 65px;
  }

  .notification-blank {
    opacity: .7;
    padding: 120px 16px;
    text-align: center;
  }

  .dropdown-menu {
    padding: 0;
    position: relative;
    width: 320px;
  }

  a {
    overflow: visible;
    position: relative;

    &.dropdown-toggle {
      margin-top: 25px;
    }
  }

  .list-group-item {
    background: $color-alabaster-approx;
    border-top: 1px solid $color-cararra-approx;
    cursor: pointer;
    float: left;
    line-height: 15px;
    margin: 0;
    padding: 0;
    width: 100%;

    a {
      border: 0;
    }

    .avatar-list-img40x40 {
      margin-top: 0;
    }

    .list-group-item-text {
      display: block;
      font-size: 14px;
      line-height: 1.4;
      white-space: normal;
    }

    .list-group-item-date {
      color: $black-44;
      display: block;
      font-size: 13px;
    }

    > a {
      margin-top: 0;
      padding: 16px;
      right: 0;
    }

    &.unread {
      background: $white;
    }

    &:hover {
      background: $color-wild-sand-approx;
    }
  }

  .pmd-list-avatar {
    display: inline;
  }

  &.open .pmd-dropdown-menu-container::after {
    border-bottom: 6px solid $white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 24px;
    top: -6px;
  }

  .nav-dropdown h3 a {
    margin-top: 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.avatar-list-img40x40 {
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 40px;

  .dic {
    vertical-align: middle;
  }

  img {
    display: inline-block;
    height: auto;
    max-height: 40px;
    max-width: 40px;
    width: auto;
  }
}

.avatar-list-img140x140 {
  border-radius: 50%;
  display: inline-block;
  height: 140px;
  line-height: 140px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 140px;

  img {
    display: inline-block;
    height: auto;
    max-height: 140px;
    max-width: 140px;
    width: auto;
  }
}

.avatar-list-img140x140::after {
  border-radius: 50%;
  box-shadow: 0 0 2px $black-30 inset;
  content: "";
  height: 140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;
  z-index: 100;
}

@media(max-width: 767px) {
  .notification .dropdown-toggle {
    margin-top: 18px;
  }
}

.notification .notification-blank .dic {
  display: block;
  font-size: 58px;
  margin-bottom: 10px;
  opacity: .3;
}

.pmd-navbar .navbar-nav > .notification svg {
  margin-right: 0;
}
