# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a7ee01e57056536e27461a2a0c5b2e77c3df70f40b0c1d11f3dc1bf77bfdeffff78dec4f0e37f0030783550409c43e7c53f171925678f8779d8574e764568de1

test:
  secret_key_base: 57cc401d8a0e810def416ddc29109046262da40a6cbc92de67f779c507aa43921c82da887f2db13769d9af8ac2ffcad1e3a6999e91306c80412e34e67130516f

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
