<footer class="admin-footer">
  <div class="container-fluid">
    <ul class="list-unstyled list-inline">
      <li class="pull-right">
        <span class="pmd-card-subtitle-text">
          Leng Keng &copy; <span class="auto-update-year">2017</span>. All Rights Reserved.
        </span>
        <h3 class="pmd-card-subtitle-text">
          Licensed under
          <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license.</a>
        </h3>
      </li>
    </ul>
  </div>
</footer>
