<nav class="navbar navbar-inverse navbar-fixed-top  pmd-navbar pmd-z-depth">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);"
         class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle">
        <i class="material-icons">menu</i>
      </a>
      <%= link_to t("app_name"), root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
